.container.contact_container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact_options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact_option {
    background: var(--color-ft);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    color: var(--color-dark);
    cursor: pointer;
}

.contact_option:hover{
    background: var(--color-accentA);
    border-color: var(--color-accentA);
    color: black;
}

.contact_option:hover > a{
    color: black;
}

.contact_option > a{
    color: var(--color-dark);
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-accentA);
    resize: none;
    color: white;
}

@media screen and (max-width: 1024px) {

    .container.contact_container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .container.contact_container{
        width: var(--container-width-s);
    }
}