.experience_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.experience_btn{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.experience_content{
    height: 50vh;
    width: 80vw;
    color: black;
    border-radius: 2rem;
    box-shadow: rgb(139, 153, 139) 0px 20px 30px 2px;
    margin-bottom: 3rem;
    background-color: var(--color-light);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 5rem;
    gap: 3rem;
}
.item{
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-light);
    background-color: var(--color-accentA);
    cursor: pointer;
    height: 8rem;
    max-width: 170px;
    font-size: 1rem;
}

.icon{
    border-radius: 15px;
    padding: 1rem;
    font-size: max(7rem);
}

.item:hover{
    background-color: var(--color-light);
    color: black;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.hide{
    display: none;
    padding-bottom: 1rem;
    border-radius: 15px;
    text-align: center;
}

.item:hover > .hide {
    display: block;
    background-color: var(--color-light);
    color: black;
}

@media screen and (max-width: 1024px) {
    .experience_content{
        padding: 2rem;
        height: auto;
        width: auto;
    }
}

@media screen and (max-width: 600px) {

    .experience_content{
        grid-template-columns: repeat(2, 1fr);
        padding: 1.5rem;
        height: auto;
    }
    .item{
        width: 8rem;
        font-size: 1rem;
    }
    .icon{
        padding: .3rem;
        font-size: 4rem;
    }
    .hide{
        padding:0;
    }
}