.home{
    height: 100vh;
}
.home_container {
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    ' b b b '
    'socials main sidebar';
    justify-items: center;

}

.btns {
    grid-area: b;
    place-self: center;
    display: flex;
    gap: 1rem;
}

.socials {
    grid-area: socials;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.scroll_down{
    grid-area: sidebar;
    transform: rotate(90deg);
    font-weight: 200;
    align-self: center;
}


.me{
    grid-area: main;
    background-color: var(--color-purple);
    transform: rotate(-10deg);
    width: 25vw;
    width: 350px;
    min-width: 350px;
    height: 44vh;
    border-radius: 15px;
    margin-left: 5rem;
    margin-top: 2rem;
}

.me_image{
    background-color: var(--color-pink);
    width: 25vw;
    width: 350px;
    min-width: 350px;
    height: 45vh;
    border-radius: 15px;
    overflow: hidden;
    padding: 3rem 0rem 0rem 0rem;
    transform: rotate(10deg);
    display: flex;
    justify-content: center;
}



@media screen and (max-width: 1024px) {
    .home_container{
        display: grid;
        grid-template-columns: auto 95%;
        grid-template-rows: 1fr 3fr;
        grid-template-areas: 
        ' b b '
        'socials main ';
        justify-items: center;
    }

    .me{
        margin-right: 7rem;
    }
    
    .scroll_down{
        display: none;
    }
}

@media screen and (max-width: 600px) {

    .me{
        width: min(60vw);
    }

    .me_image{
        width: min(60vw);
    }
    .socials, .scroll_down {
        display: none;
    }
    
}