.home{
    height: 90vh;
}
.home_container {
    display: grid;
    grid-template-columns: auto 60% auto;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    ' b b b '
    'socials main sidebar';
    justify-items: center;

}

.btns {
    grid-area: b;
    place-self: center;
    display: flex;
    gap: 1rem;
}

.socials {
    grid-area: socials;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
}
.scroll_down{
    grid-area: sidebar;
    transform: rotate(90deg);
    font-weight: 200;
    align-self: center;
    font-size: 1.2rem;
}


.me{
    grid-area: main;
    background-color: var(--color-accentA);
    transform: rotate(-10deg);
    width: 350px;
    height: 370px;
    min-height: 350px;
    border-radius: 15px;
    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 2em;
    transition: var(--transition);
}

.me_image{
    background-color: var(--color-light);
    width: 350px;
    height: 370px;
    border-radius: 15px;
    overflow: hidden;
    padding: 1.5rem 1rem 0rem 1rem;
    transform: rotate(10deg);
    transition: var(--transition);
}

.me:hover{
    transform: rotate(0deg);
}

.me_image:hover{
    transform: rotate(0deg);
    box-shadow: rgba(255, 255, 255, 0.48) 6px 2px 17px 5px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}



@media screen and (max-width: 1024px) {
    .home_container{
        display: grid;
        grid-template-columns: auto 95%;
        grid-template-rows: 1fr 3fr;
        grid-template-areas: 
        ' b b '
        'socials main ';
        justify-items: center;
    }

    .me{
        margin-right: 7rem;
    }
    
    .scroll_down{
        display: none;
    }
}

@media screen and (max-width: 600px) {

    .socials, .scroll_down {
        display: none;
    }
    
}