@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@layer base {
  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }

  :root{
    --color-bg: #F9F0E3;
    --color-accentB: #D6D8BA; 
    --color-accentA: #8C9474;
    --color-light: #E4DAD0;
    --color-dark: #082C1D;
    --transition: all 400ms ease;
  }

  html{
    scroll-behavior: smooth;
    height: 100vh; 
  }

  ::-webkit-scrollbar{
    display:none;
  }

  body{
    font-family: "Roboto", serif;
    background-color: var(--color-bg);
    color: black;
    line-height: 1.6;
  }
}

@layer components {
  .page{
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 95vw;
    margin:2em;
    overflow: scroll;
    padding-top:3rem;
    --s: 50px;
    --t: 5px; 
    padding: 4em;
    outline: var(--t) solid var(--color-accentA); 
    outline-offset: calc(-1*var(--t));
    mask:
      conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
      0 0/calc(100% - var(--s)) calc(100% - var(--s)),
      linear-gradient(#000 0 0) content-box;
  }

  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1, h2, h3, h4, h5 {
    color: var(--color-dark);
    font-weight: 500;
  }

  h1{
    font-size: 2.5em;
  }
  h2{
    font-size: 1.5em;
  }

  div > h2 {
    margin-bottom: 3rem;
  }

  a{
    color: var(--color-dark);
    transition: var(--transition);
  }

  a:hover {
    color: var(--color-accentA);
  }

  .btn {
    width: max-content;
    height: fit-content;
    color: var(--color-dark);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-dark);
    transition: var(--transition);
  }

  .btn:hover{
    background: var(--color-accentA);
    color: var(--color-light);
    border-color: transparent;
  }

  .btn-primary{
    background: var(--color-accentB);
    color: var(--color-dark);
    border: var(--color-dark);
  }

  /* home */
  .me{
    background-color: var(--color-accentA);
    transform: rotate(-10deg);
    width: 350px;
    height: 370px;
    min-height: 350px;
    border-radius: 15px;
    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 2em;
    transition: var(--transition);
  }

  .me_image{
    background-color: var(--color-light);
    width: 350px;
    height: 370px;
    border-radius: 15px;
    overflow: hidden;
    padding: 1.5rem 1rem 0rem 1rem;
    transform: rotate(10deg);
    transition: var(--transition);
  }

  .me:hover{
    transform: rotate(0deg);
  }

  .me_image:hover{
    transform: rotate(0deg);
    box-shadow: rgba(255, 255, 255, 0.48) 6px 2px 17px 5px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  }
  /* contact */
  .contact_option {
    display: flex;
    flex-direction: column;
    gap:.3em;
    align-items: center;
    background: var(--color-accentB);
    padding: 1.2rem;
    border-radius: 1.2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    color: var(--color-dark);
    cursor: pointer;
    width: 18em;
  }

  .contact_option:hover{
    background: var(--color-accentA);
    border-color: var(--color-accentA);
    color: var(--color-light);
  }

  input,textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-accentA);
    resize: none;
    color: white;
  }

  .footer_socials{
      background-color: var(--color-accentA);
      padding: 0.8rem;
      border-radius: 0.7rem;
      display: flex;
      border: 1px solid transparent;
  }

}


nav{
    background: rgba(0,0,0,0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem; 
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    cursor: pointer;
}

nav a{
    background-color: transparent;
    padding: .5rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.2rem;
}

nav a:hover {
  background: var(--color-accentA);
  color: var(--color-dark);
}

nav a.active{
  background: var(--color-dark);
  color: var(--color-bg);
}